* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-columns: 250px auto;
    height: 100vh;
}

body > * {
    min-height: 100vh;
}

nav {
    color: #000;
    padding: 20px;
    border-right: 3px solid orangered;
}

main {
    background-color: #ebebeb;
}